

body {
    margin: 0;
    font-size: 12px;
    font-family: 'Lato', sans-serif;
}



table {
  border-collapse: collapse;
}



td {
  border-bottom: 1px solid #03396c;
  padding:8px 16px;
}


th {
	border-bottom: 2px solid #03396c;
    padding:8px 16px;
}



td.outdate {
color:red;
}

td.is_ok {
    color: green;
}

