.idea/
manage.py
virtEKOB/
__pycache__/
survey/__init__.py
survey/__pycache__/
survey/admin.py
survey/apps.py

media/
survey/migrations/
survey/static/js/kontrola.js
survey/templates/test.html
survey/templates/test1.html
survey/static/dane.txt



