{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Elektroniczna Książka Obiektu</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
</head>
<body>

    <div class="header">
    </div>

    <div class="topnav">
        <div>
            <ul>
              <li><a href="#">Budynki</a></li>

              <li class="dropdown">
                    <a href="#" class="dropbtn">Przeglądy</a>
                        <div class="dropdown-content">
                            <a href="/surveys/">Pokaż przeglądy</a>
                            <a href="/addsurvey/">Dodaj przegląd</a>
                            <a href="/addcontractor/">Dodaj wykonawcę</a>
                            <a href="/contractors/">Pokaż wykonawców</a>
                            <a href="/schedule/">Zaplanuj przeglady</a>
                        </div>
              </li>
              <li><a href="#">Remonty</a></li>
              <li><a href="#">Dokumentacja</a></li>
              <li><a href="#">Home</a></li>
            </ul>
        </div>
        <div>
            <p>zalogowany jako {{ user.username }} <a href="/logout"> wyloguj</a></p>
        </div>

    </div>


    {% block base %}
    {% endblock %}

{#<div class="footer">#}
{#        <p></p>#}
{#    </div>#}
{% block content_js_script %}
{% endblock %}
</body>
</html>