{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Elektroniczna Książka Obiektu</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link href='http://fonts.googleapis.com/css?family=Headland+One&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
</head>
<body>

<div class="centerIndexBox">
    <div align="center"><p>Elektroniczna Książka Obiektu</p></div>
    <div>
        <img class="" src="{% static "img/index.jpg" %}">
    </div>
    <div class="centerButton">
        <a href="{% url 'registration' %}"><button class="blue">zarejestruj</button></a>
        <div style="clear:both"></div>
    </div>


    <div style="font-size: 12px">
         <form  method="post">
             <table>
                 {% csrf_token %}
                 {{ form.as_p}}
             </table>
          <button class="blue">zaloguj</button>
        </form>
        {{ msg }}
    </div>
</div>

</body>
</html>