{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Elektroniczna Książka Obiektu</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link href='http://fonts.googleapis.com/css?family=Headland+One&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
</head>
<body>

<div class="centerIndexBox">
    <div align="center"><p>Elektroniczna Książka Obiektu</p></div>
    <div>
        <img class="start" src="{% static "img/index.jpg" %}">
    </div>



    <div class="centerButton">
         <form  method="post">

             <table border="1" style="border-color: #005b96">
                 <tr >
                     <td class="passw">{{ form.username.label_tag }}</td>
                     <td class="passw">{{ form.username }}</td>
                 </tr>
                 <tr >
                     <td class="passw">{{ form.password.label_tag }}</td>
                     <td class="passw">{{ form.password }}</td>
                 </tr>
                 {% csrf_token %}

             </table>
                <button class="blue">zaloguj</button>
                <a href="{% url 'registration' %}"><button style="margin: 0px">zarejestruj</button></a>
                <div style="clear:both"></div>

        </form>
        {{ msg }}
    </div>
</div>

</body>
</html>