{% extends 'base-one_column.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
    <div class="boxH"><h3>Szczegóły remontu</h3></div>
    <div class="margin_box">

        <p>dla budynku: {{ renovation.building }}</p>
        <p>Zakres robót:</p>
        <p>{{ renovation.description }}</p>
        <p>Umowy i zezwolenia</p>
        {% for contract in contracts %}
            <p>numer {{ contract.number }} z dnia {{ contract.date }}</p>
        {% endfor %}

            <a href="contracts/{{ renovation.id}}">dodaj umowę</a>
            <a href="execution/{{ renovation.id}}">dodaj wykonanie</a>
    </div>


{% endblock %}
