{% extends 'base-one_column.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
    <div class="boxH"><h3>Szczegóły remontu</h3></div>
    <div class="margin_box">

        <p>dla budynku: {{ renovation.building }}</p>
        <h3>Zakres robót:</h3>
        <p>{{ renovation.description }}</p>
        <h3>Umowy i zezwolenia:</h3>
    {% if contracts %}
        <table>
            <tr>
                <th>Nr umowy</th>
                <th>Data</th>
                <th>Rodzaj</th>
                <th>Przedmiot umowy</th>
                <th>Skan</th>
            </tr>
            {% for contract in contracts %}
                <tr>
                    <td>{{ contract.number }}</td>
                    <td>{{ contract.date }}</td>
                    <td>{{ contract.get_kind_display }}</td>
                    <td>{{ contract.description }}</td>
                    <td>{% if contract.contract_pdf %}
                            <a href="{{ contract.contract_pdf }}"><button class="icon">PDF</button></a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
        {% else %}<p>Nie wprowadzono danych.</p>
    {% endif %}
    <h3>Realizacja:</h3>
    {% if execution %}
        <p>Wykonawca: {{ execution.contractor }}</p>
        <p>Inspector: {{ execution.surveyor }}</p>
        <p>Data wprowadzenia na budowę: {{ execution.start }}</p>
        <p>Data odbioru robót: {{ execution.termination }}</p>
        <p>Uwagi: {{ execution.description }}</p>
        {% if execution.termination_pdf %}
            <p style="float: left">Protokół odbioru: </p>
            <p ><a href="{{ execution.termination_pdf }}"><button class="icon">PDF</button></a></p>

        <p style="clear:both"></p>

        {% endif %}
    {% else %}<p>Nie wprowadzono danych.</p>
    {% endif %}

            <a href="contracts/{{ renovation.id}}"> <button type="submit" >Dodaj umowę</button></a>
    {% if not execution %}
            <a href="execution/{{ renovation.id}}"><button type="submit" >Dodaj realizację</button></a>
    {% endif %}
    <div style="clear:both"></div>
    </div>


{% endblock %}
