{% extends 'base-one_column.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}


    <table class="maintable">
    <tr>
        <th>Budynek</th>
        <th>Zakres robót</th>
    </tr>
        {% for renovation in renovations %}

    <tr class="details change_tr choice_tr" id="{{ renovation.id }}">
        <td>{{ renovation.building }} </td>
        <td> {{ renovation.description }}</td>

    </tr>

    {% endfor %}


    </table>


{% endblock %}

{% block content_js_script %}
    <script src={% static "js/renovations.js" %} ></script>
{% endblock %}